
.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #d7edd7;
  height: 100vh; 
}

.contactCard {
  background: linear-gradient(135deg, #fff3e0 0%, #ffccbc 100%); 
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contactCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contactName {
  font-size: 1.5em;
  font-weight: bold;
  color: #4e342e; 
  margin-bottom: 10px;
}

.contactDepartment {
  font-size: 1.2em;
  color: #6d4c41; 
  margin-bottom: 10px;
}

.contactEmail {
  display: block;
  font-size: 1em;
  color: #bf360c; 
  background-color: #ffe0b2; 
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 20px;
  transition: background-color 0.3s ease-in-out;
}

.contactEmail:hover {
  background-color: #524946; 
  color: white;
}

.contactLink {
  font-size: 1em;
  color: #ffffff;
  background-color: #d84315; 
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.contactLink:hover {
  background-color: #f1f1f1; 
  color: black;
}



/* Responsive codes*/
@media (max-width: 768px) {
  .contactContainer {
    gap: 15px;
    padding: 15px;
    height: auto; 
  }

  .contactCard {
    width: 90%; 
    padding: 15px;
    margin: 15px 0;
  }

  .contactName {
    font-size: 1.3em;
    margin-bottom: 8px;
  }

  .contactDepartment {
    font-size: 1.1em;
    margin-bottom: 8px;
  }

  .contactEmail {
    font-size: 0.9em;
    margin-bottom: 15px;
  }

  .contactLink {
    font-size: 0.9em;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .contactContainer {
    gap: 10px;
    padding: 10px;
  }

  .contactCard {
    width: 95%; 
    padding: 10px;
    margin: 10px 0;
  }

  .contactName {
    font-size: 1.2em;
    margin-bottom: 5px;
  }

  .contactDepartment {
    font-size: 1em;
    margin-bottom: 5px;
  }

  .contactEmail {
    font-size: 0.8em;
    margin-bottom: 10px;
  }

  .contactLink {
    font-size: 0.8em;
    padding: 6px 12px;
  }
}